body {
	font-family: Arial;
}

main {
	margin: 0 auto;
	text-align: center;
	color: white;
	padding: 0px 0px;
	width: 100%;
	font-size: 20px;
}

a {
    text-decoration: none;
}

h1 {
	padding: 30px 0px;
}
div {
    align-content: center;
}
img {
	max-width:100%;
	max-height:100%;
}

.bgcolor {
    background-color: black;
}


#left {
	float: left;
    width: 20%;
	padding-left: 90px;
}

#center {
    margin: auto;
    width: 40%;
}

#right {
	float: right;
	padding-right: 90px;
    width: 20%;
}

#start {
    position: relative;
    bottom: -100px;
    right: 0px;
}


#drawbutton {
    position: relative;
    right: 0px;
}

#about {
    width: 100%;
}

/* Button */
.button {
    background-color: #ccc;
    color: black;
    font-size: 36px;
    padding: 30px;
    width: 85%;
    cursor: pointer;
}

/* Button on hover & focus */
.button:hover, .button:focus {
    background-color: #aaa;
}

.spaced {
    padding-left: 5%;
    padding-right: 5%;

}

.drawicon {
    width: 10%;
}

.starticon {
    width: 15%;
}

.topicon {
    width: 7.5%;
    position: absolute;
    top: 0px;
    left: 0px;
}

.gachaResultSpace {
    margin: auto;
    width: 33%;
}

.gachaResult {
    width: 20.5%;
    padding: 10px;
}


